body { 
	background-color: #fff;
	display: inline-block;
	text-align: center;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 90%;
	margin: 0px;
	padding: auto;}

.header {
	width: 100%;
	display: inline-block;
	background-image:
	-webkit-gradient(linear, left top, left bottom, from(#af302c), to(#ed6323));
	background: 
	-moz-linear-gradient(top, #af302c, #ed6323);
}
.headcontainer {
	width: 960px;
	display: inline-block;
	bottom-border: 5px solid #d25915 100%;
}

.spicelogo {
	display: inline-block;
	float: left;
	margin: 20px;
	padding: 10px;
}
.spice {
	float: right;
	display: inline-block;
	list-style-type: none;
	padding-top: 100px;
	margin: 10px;
}
.spice ul {
	display: inline-block;
	list-style-type: none;
	word-spacing: 10px;
}
.spice li {
	list-style-type: none;
	display: inline-block; 
	text-decoration: none;
}
button {
	width: 104px;
	padding: 2px;
    font: 16px;
    text-decoration: none;
    background: #d25915;
	color: #fff;
	cursor: pointer;
	border: .5px solid #a14310;
	border-radius: 10px;
    border: 1px solid #a14310;
    border-color: #a14310;
}
.spice a:link {
	font-family: sans-serif;
	color: green;
	text-decoration: none;}
.spice a:visited {
	color: #fff;}
.spice a:active {
	color: #fff;
	padding-bottom: 2px;}
.spice a:hover {
	color: green;
	text-decoration: none;}

.workcontainer {
	width: 100%;
	display: inline-block;
	bottom-border: 2px solid #d25915;
}
.work {
	width: 960px;
	display: inline-block;
	background-color: #fff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 20px;
	padding-bottom: 10px;
	text-align: center;
}
.logos, .branding, .packaging, .print, .web, .other {
	width: 240px;
	float: left;
	vertical-align
	display: block;
	padding-right: 20px;
}
.h2 {
	font-style: italic;
	font-size: 20px;
	font-color: #a53e4d;
}

.testimonials {
	width: 960px;
	display: inline-block;
}
.quotes {
	width: 900px;
	text-align: center;
	padding: 10px;
	display: inline-block;
}
.quote1, .quote2, .quote3, .quote4 {
	width: 400px;
	float: left;
	display: inline-block;
}
.openquote {
  font: 18px/30px normal Tahoma, sans-serif;
  padding-top: 22px;
  margin: 5px;
  text-indent: 20px;
  }

.form {
	width: 960px;
	padding: 10px;
	display: inline-block;
}
.contactus {
	width: 380px;
	display: inline-block;
	float: left;
	text-align: left;
}
.formheader {
	font-family: ;
	color: #af2f2c;

}
label {
	padding: 10px;
	display: block;
}
.radio {
	display: inline-block;
}
.checkbox {
	width: 440px;
	display: block;
	float: left;
	padding: 10px;
}
.message {
	color: #af2f2c;
}
.comment {
	width: 420px;
	display: block;
	text-align: left;
}

.submit {
	width: 110px;
	padding: 2px;
    font: 16px;
    text-decoration: none;
	color: #af2f2c;
	cursor: pointer;
	border: .5px solid #ccc;
	border-radius: 10px;
    border: 1px solid #ccc;
    border-color: #ccc;
    background: #c0c0c0;
  	background-image:-moz-linear-gradient(rgb(227,227,227),rgb(160,160,160));
  	background-image: -ms-linear-gradient(rgb(227,227,227),rgb(160,160,160));
  	background-image: -webkit-linear-gradient(rgb(227,227,227),rgb(160,160,160));
  	background-image: linear-gradient(rgb(227,227,227),rgb(160,160,160));
}

.footercontainer {
	width: 100%;
	background-color: #d25915;
	border-top: 2px solid #eb8157 100%;
}
.footer {
	width: 960px;
	background-color: #d25915;
	padding: 10px;
	margin: 0 auto;
	display: inline-block;
	background-color: #d25915;
	padding: 10px;
}
.social {
	display: inline-block;
	float: right;
}
.social ul {
	display: inline-block;
	list-style-type: none;
	float: right;
}
.social li {
	display: inline-block;
	list-style-image: none;
	text-decoration: none;
	margin: 0 auto;
	float: right;
	padding: 10px;
}
.copy {
	float: left;
	padding: 10px;
	margin-top: 20px;
	color: white;
}

